@import url("https://fonts.googleapis.com/css?family=Caveat:wght@400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Syne+Mono:wght@400,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "syne mono", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-family: "caveat", sans-serif;
}
